{% exctends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <form method="POST" action="">
        <div>
            <label for="username">Username</label>
            <input name="username" id="username" type="text" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" id="password" type="password" required>
        </div>
        {% csrf_token %}
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}